.centered-div {
    margin-left: auto;
    margin-right: auto;
    width: 45%; 
}

.centered-button {
    margin-left: auto;
    margin-right: auto;
    width: 20%; 
}

.centered-left-aligned-content {
    margin-left: auto;
    margin-right: auto;
    width: 45%; 
    text-align: left;
}

.card-content {
    padding: 20px;
}
