.modal-dialog {
  max-width: 50%; 
}

.modal-body {
  margin-top: -40px;
  max-width: 90%;
  margin-left: 40px;
}

.card {
  min-width: 100%;
  flex-direction: row;
}

.modal-90w {
  width: 90%;
  max-width: none;
}

@media only screen and (max-width: 600px) {
  .modal-dialog {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .modal-dialog {
    max-width: 90%;
  }
}